#gparent_div {
  width: 100%;
  align-self: center;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

#parent_div1 img {
  width: 100%;
}
#parent_div2 {
  margin-left: 0px;
  padding: 3%;
  text-align: left;
}

#price_div {
  display: flex;
  gap: 5px;
}

.cPrice {
  font-size: 1.4rem;
  font-weight: 600;
  font-weight: 700;
}
.price {
  text-decoration: line-through;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
}

#child_div4 {
  display: flex;
  align-content: center;
  margin-top: 20px;
}

.button {
  color: white;
  font-size: 20px;
  border-radius: 12px;
  background-color: #8863fb;
  height: 48px;
  width: 180px;
  margin-left: 2%;
}

.p_color {
  color: #8863fb;
}

.condition_div {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 900px) {
  .item img {
    height: 100%;
    width: 50%;
  }
  .item {
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .item img {
    height: 100%;
    width: 55%;
  }
  .item {
    justify-content: center;
    width: 100%;
  }
}

.item {
  background-color: #1c0333;
  display: flex;
  width: 100%;
  height: 200px;
}

.item img {
  background-color: #1c0333;
}

.item h5,
p {
  color: white;
  justify-content: center;
}

@media (max-width: 600px) {
  #gparent_div {
    display: block;
    width: 100%;
  }
  .condition_div {
    display: block;
    width: 100%;
  }
}

.greetings_div {
  display: flex;
  padding: 1% 0.5%;
}

@media (max-width: 600px) {
  .greetings_div {
    display: block;
  }
  #gcard {
    width: 100%;
  }
}
.greetings_div h3 {
  margin-top: 4%;
  font-style: italic;
  font-weight: 400;
}

.greetings_div h2 {
  margin-top: 2%;
}

#gcard {
  width: 120%;
  height: 325px;
}

.commitment {
  font-family: "Cormorant Garamond", Sans-serif;
  font-size: 21px;
  font-weight: 600;
  font-style: italic;
  line-height: 24px;
  justify-content: center;
  color: white;
  background-color: #89134c;
}

.call {
  background-color: #1c0333;
  width: 100%;
  height: 350px;
}

.call h3 {
  color: white;
}

.call h4 {
  color: white;
}
.call label {
  color: white;
  text-align: left;
}

.call input {
  width: 270px;
  height: 25px;
  border-color: #8863fb;
  color: white;
  background-color: #1c0333;
}

.call img {
  margin-top: 20px;
  height: 60px;
  width: 90px;
}
.buttonCall {
  color: white;
  font-size: 20px;
  border-radius: 12px;
  margin-top: 12px;
  background-color: #8863fb;
  height: 40px;
  width: 280px;
}

.trust {
  background-color: #230939;
  width: 100%;
  height: 370px;
}

.trust img {
  margin-top: 10px;
}

.trust h4 {
  color: white;
}

.knowmore {
  background-color: #230939;
  border-color: #8863fb;
  height: 48px;
  width: 168px;
  color: white;
  font-weight: 700;
  font-size: 15px;
}

@media (max-width: 600px) {
  .trust img {
    width: 65%;
  }
  .call {
    width: 100%;
    /* padding: 4%; */
  }
  .trust {
    width: 100%;
  }
  .call input {
    width: 70%;
    height: 20px;
  }
  .buttonCall {
    font-size: 15px;
    border-radius: 7px;
    height: 35px;
    width: 50%;
  }
  #gcard {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .call {
    width: 100%;
  }
  .trust {
    width: 100%;
  }
}
